<configuration scan="true" scanPeriod="30 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/musiccatalog.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="musiccatalog.aspect.LoggingAspect" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="musiccatalog.exception.GlobalExceptionHandler" level="ERROR" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="musiccatalog.cache.InMemoryCache" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>